<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="PATCHES" class="ch.qos.logback.core.FileAppender">
		<file>patches.txt</file>
		<append>false</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CONSTRAINTS" class="ch.qos.logback.core.FileAppender">
		<file>constraints.txt</file>
		<append>false</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="fr.inria.lille.jefix.synth.smt.constraint.ConstraintSolver"
		level="debug" additivity="false">
		<appender-ref ref="CONSTRAINTS" />
	</logger>

	<logger name="fr.inria.lille.jefix.sps.gzoltar.GZoltarJava7"
		level="OFF" />

	<logger name="spoon.SpoonClassLoader" level="OFF" />

	<logger name="fr.inria.lille.jefix.JEFix" level="debug"
		additivity="false">
		<appender-ref ref="STDERR" />
	</logger>

	<logger name="patch" level="trace" additivity="false">
		<appender-ref ref="PATCHES" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>